.header {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    background-color: blanchedalmond;
}
h1 {
    margin-left: 10px;
}
.header__notification-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header__notification-button {

}

.header__notification-container-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border: 2px solid gray;
    margin-left: 5px;
}